<h2><%= @cocktail.name %></h2>

<p><%= cl_image_tag @cocktail.picture, height: 300, width: 400, crop: :fill %>
</p>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "remove", dose_path(dose, cocktail_id: @cocktail.id), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
